/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.form_wrapper{
  width: 60%;
  margin: 0 auto;
}

.banner{
  height: 500px;
  margin: 0 auto;
  text-align: center;
}

.filler{
  height: 400px;
}
